#sel-wrap {
  position: relative; //设置父元素
}
#sel-show {
  border: 1px solid rgb(169, 173, 173);
  border-radius: 4px;
  width: 200px;
  cursor: default;
  padding-left: 15px;
}
#sel-option {
  position: absolute; //设置下拉列项的包裹层
}
#sel-option li:hover:before {
  content: "\2714"" "; //此处为对勾+空格
}
#sel-option {
  list-style: none;
  padding: 0px;
  margin: 10px 0px 0px 5px;
  display: none;
  position: absolute;
  width: 200px;
  box-sizing: border-box;
  border-top: none;
  border-bottom: none;
  background-color: #fff;
}
#sel-option li {
  width: 200px;
  height: 25px;
  padding-left: 15px;
  font: 13px/25px;
  list-style: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(169, 173, 173);
  cursor: default;
}
#sel-option li:hover {
  color: #fff;
  background-color: rgba(30, 136, 229, 0.5);
  padding-left: 5px;
  font-size: 14px;
}
#sel-option li .active {
  background-color: rgba(30, 136, 229, 1);
}
